<header>
  竞价列表
  <div class='header-left'>
    <a class='btn-style btn-4' href='#/activitylist'>返回</a>
  </div>
  <div class='header-right' ng-switch='switch'>
    <button class='btn btn-style btn-4' ng-click='bid_start()' ng-disabled='flag' ng-switch-when='start'>开始</button>
    <button class='btn btn-style btn-4' ng-click='bid_end()' ng-switch-when='end'>结束</button>
  </div>
</header>
<div class='wrapper scrollable' id='wrapper'>
  <ul class='list-style-2'>
    <li ng-repeat='apply in applies'>
      <a href=''>
        <h3>
          {{apply.applyname}} {{apply.phone}}
        </h3>
      </a>
    </li>
  </ul>
</div>
<footer>
  <ul class='footer-nav footer-nav-2tabs'>
    <li>
      <a href='#/apply/{{act_name}}'>
        报名
      </a>
    </li>
    <li class='active'>
      <a href=''>
        竞价
      </a>
    </li>
  </ul>
</footer>
