<header>
  竞价列表
  <div class='header-left'>
    <a class='btn-style btn-4' href='#/activitylist'>返回</a>
  </div>
  <div class='header-right'>
    <button class='btn btn-style btn-4' ng-click='bid_start()' ng-disabled='flag'>开始</button>
  </div>
</header>
<div class='wrapper scrollable' id='wrapper'>
  <ul class='list-style-2'>
    <li class='{{bid.bidstyle}}' ng-repeat='bid in bids'>
      <a href='#/bidapply/{{activity_name}}'>
        <h3>
          {{bid.bidname}}
        </h3>
      </a>
    </li>
  </ul>
</div>
<footer>
  <ul class='footer-nav footer-nav-2tabs'>
    <li>
      <a href='#/apply/{{activity_name}}'>
        报名
      </a>
    </li>
    <li class='active'>
      <a href=''>
        竞价
      </a>
    </li>
  </ul>
</footer>
