<header>
  {{bid_name}}({{bids.length}}人)
  <div class='header-left'>
    <a class='btn-style btn-4' href='#/bidlist/{{activity_name}}'>返回</a>
  </div>
  <div class='header-right'>
    <button class='btn btn-style btn-4' ng-click='bid_end()' ng-disabled='flag'>结束</button>
  </div>
</header>
<div class='wrapper scrollable' id='wrapper'>
  <ul class='list-style-2' id='bidlist'>
    <li ng-repeat='bid in bids'>
      <div style=' float:left width:50%'>
        <h3>
          {{bid.id}}.{{bid.applyname}}
          <div style='float:right'>
            {{bid.phone}}
          </div>
        </h3>
      </div>
    </li>
  </ul>
</div>
