%header
  活动列表
  .header-right
    %a.btn-style.btn-4(href="/" ) 创建活动
#wrapper.wrapper.scrollable
  %ul.list-style-2
    %li(ng-repeat="activity in activities" class="{{activity.applystatus}} {{activity.bidstatus}}")
      %a(href="#/apply/{{activity.name}}" )
        %h3
          {{activity.name}}