%header
  {{bid_name}}({{bids.length}}人)
  .header-left
    %a.btn-style.btn-4(href="#/bidlist/{{activity_name}}") 返回
  .header-right
    %button.btn.btn-style.btn-4(ng-click="bid_end()" ng-disabled="flag") 结束
#wrapper.wrapper.scrollable
  %ul.list-style-2#bidlist
    %li(ng-repeat="bid in bids")
      %div(style=" float:left width:50%" )
        %h3
          {{bid.id}}.{{bid.applyname}}
          %div(style="float:right" )
            {{bid.phone}}

