%header
  %span
  .header-left
    %a.btn-style.btn-4#goback 返回
#wrapper.wrapper.scrollable
  %ul.list-style-2#bidlist
.modal.fade#modalSuccess(style="display: inline-table")
  .modal-content
    .modal-header
      %a.close(data-dismiss = "modal")x
    .modal-body
      %center
%footer
  %div
    %p#success(align="center" )
  %ul.footer-nav.footer-nav-2tabs
    %li.active
      %a(href="" )
        竞价结果
    %li
      %a(href="#/bidstatistics" )
        价格统计
%script
  bid_result_data_binding();