%header
  %span
    .header-left
      %a.btn-style.btn-4#goback 返回
#wrapper.wrapper.scrollable
  %ul.list-style-2#bidlist
%footer
  %div
    %p#success(align="center" )
  %ul.footer-nav.footer-nav-2tabs
    %li
      %a(href="#/bidresult" )
        竞价结果
    %li.active
      %a(href="" )
        价格统计
%script
  bid_statistics_data_binding();