%header
  竞价({{bids.length}}人)
  .header-left
    %a.btn-style.btn-4(href="#/bidlist/{{activity_name}}") 返回
#wrapper.wrapper.scrollable
  %ul.list-style-2#bidlist
    %li(ng-repeat="bid in bids")
      %div(style=" float:left width:50%" )
        %h3
          {{bid.id}}.{{bid.price}}
          %div(style="float:right" )
            {{bid.phone}}
%footer
  %ul.footer-nav.footer-nav-2tabs
    %li.active
      %a(href="" )
        竞价结果
    %li
      %a(href="#/bidstatistics" )
        价格统计