%header
  创建活动
  .header-left
    %a.btn-style.btn-4(href="#/activitylist" ng-hide="flag") 返回
#wrapper.wrapper.scrollable(ng-controller="CreateActivityCtrl")
  %form.wrapper-inner
    %fieldset.form-wrapper
      %h5 活动名称
      %input.input-full(ng-model="input" )
      %p(style="color:red" ng-show="repeat") 活动名称重复
      %button.btn.btn-2(ng-disabled="(input==null||input=='')" ng-click="add()") 创建