%header
  竞价列表
  .header-left
    %a.btn-style.btn-4(href="#/activitylist") 返回
  .header-right(ng-switch="switch")
    %button.btn.btn-style.btn-4(ng-switch-when="start" ng-click="bid_start()" ng-disabled="flag") 开始
    %button.btn.btn-style.btn-4(ng-switch-when="end" ng-click="bid_end()") 结束
#wrapper.wrapper.scrollable
  %ul.list-style-2
    %li(ng-repeat="apply in applies")
      %a(href="" )
        %h3
          {{apply.applyname}} {{apply.phone}}
%footer
  %ul.footer-nav.footer-nav-2tabs
    %li
      %a(href="#/apply/{{act_name}}" )
        报名
    %li.active
      %a(href="" )
        竞价